body {
    margin: 0rem;
    padding: 0rem;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    text-align: center;
}

#map {
    overflow: hidden;
    width: fit-content;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid gray; */
    position: relative;
}

#map-pane {
    position: absolute;
    /* width: 100%;
    height: 100%; */
}

.map-tile {
    /* border: 1px solid red; */
    /* opacity: 0.5; */
}
