html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}

#map-container {
  /* border: 2px solid blueviolet; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Important */
}

#svg-map {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  cursor: grab;
}

#heatmap-layer {
  /* border: 1px solid blue; */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-tile {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
}

/* Interface */
#left {
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: 24rem;
}

#demoData {
  display: flex;
  flex-direction: column;
  outline: 0.1rem solid #ccc;
  outline-offset: -0.5rem;
}

#regionName {
  font-size: 2rem;
}

#regionDir {
  font-size: 1.5rem;
  margin: 0.2rem;
}

.content {
  display: flex;
  margin: 0.3rem;
}

.tab {
  width: 30%;
  height: auto;
}

.tab button {
  display: block;
  color: black;
  padding: 0.4rem;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.8rem;
}

.tab button:hover {
  background-color: #2196f3;
  color: white;
}

.tab button.active {
  background-color: #ccc;
}

.tabContentDiv {
  padding: 0.5rem 0.8rem;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
}

#left > * {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

#parameterDiv {
  outline: 0.1rem solid #ccc;
  outline-offset: -0.5rem;
}

#right {
  background-color: white;
  position: absolute;
  padding: 1rem;
  right: 2rem;
  top: 2rem;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  outline: 0.1rem solid #ccc;
  outline-offset: -0.5rem;
}

#info-toggle {
  display: flex;
  width: 8rem;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
}

#gradient {
  height: 2rem;
  text-align: center;
}

#bottom {
  position: absolute;
  bottom: 1rem;
  left: 12rem;
  right: 12rem;
  height: 5rem;
  outline: 0.1rem solid #ccc;
  outline-offset: -0.5rem;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#showHeatmap-div {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

#showHeatmap-div > * {
  padding: 0.3rem;
}

#slider-div {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
}

#radius-div,
#time-div {
  display: flex;
  /* border: 1px solid purple; */
  justify-content: space-between;
  width: 100%;
}

.range-slider {
  width: 90%;
}

#zoom-div {
  position: absolute;
  right: 9rem;
  bottom: 1rem;
  background-color: white;
}

#zoom-div i {
  width: 2rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #2196f3;
  cursor: pointer;
}

#zoom-div i:hover {
  transition: 0.3s;
  background-color: #ccc;
}

/* Toggle CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
