html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  background-color: #ddd;
  user-select: none;
}

* {
  box-sizing: border-box;
}

#location-tooltip {
  position: absolute;
  bottom: 0.3rem;
  right: 5rem;
}

#region-name-tooltip {
  position: absolute;
  font-size: 1.2rem;
  display: inline-block;
  background-color: rgba(236,236,236,0.8);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

#map-container {
  /* border: 2px solid blueviolet; */
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; /* Important */
}

#svg-map {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  cursor: grab;
}

.activeRegion {
  fill: #FF870080 !important;
}

.region {
  opacity: 0.75;
}

.regionFill {
  fill: #FFA50050;
  stroke:#FF8700;
  stroke-width: 1;
}

.regionHover {
  opacity: 1;
  fill: #ee7700aa;
}

#heatmap-layer {
  /* border: 1px solid blue; */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.canvas-tile {
  position: absolute;
  top: 0;
  left: 0;
}

/* Interface */
#left {
  position: absolute;
  left: 0;
  top: 0;
  width: 25rem;
  margin: -0.1rem;
}

#demoData {
  display: flex;
  border-radius: 0.3rem;
  flex-direction: column;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 33%);
  /* padding: 2rem; */
}

#regionName {
  font-size: 2rem;
}

#regionDir {
  font-size: 1.5rem;
  margin: 0.2rem;
}

.content {
  position: relative;
  display: flex;
  margin: 0.3rem;
  height: 22rem;
}

.flex-tab {
  display: flex;
  flex-direction: row;
}

.tab {
  width: 35%;
}

.tab button,
.flex-tab button {
  display: block;
  color: black;
  padding: 0.4rem;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 0.7rem;
  height: 11.3%;
}

.flex-tab button {
  font-size: 1.2rem;
  text-align: center;
}

.flex-tab button:hover,
.tab button:hover {
  background-color: #ccc;
  color: white;
}

.flex-tab button.active,
.tab button.active {
  background-color: #abc;
  color: white;
}

.tabContent {
  display: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.tabContent.active {
  display: block;
}

.tabContentDiv {
  padding: 0.5rem 0.8rem;
  width: 70%;
  border-left: none;
}

#left > * {
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.legendDiv {
  width: 90%;
  height: auto;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.legendCategory {
  padding: 0 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}

.categoryColor {
  width: 0.5rem;
  height: 0.5rem;
}

.categoryType {
  font-size: 0.6rem;
  margin: 0;
  padding: 0.05rem;
}

.categoryValue {
  font-size: 0.6rem;
  margin: 0;
}

.otherPropertiesDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
}

.otherProperty {
  font-size: 0.6rem;
  margin: 0.1rem;
}

.right {
  position: absolute;
  top: 12rem;
  bottom: 0.8rem;
  right: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.gradient {
  position: absolute;
  top: 4rem;
  right: 0.8rem;
  display: flex;
  background-color: white;
  flex-direction: column;
  width: 13rem;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 33%);
  border-radius: 0.3rem;
  align-items: center;
}

.heatmap-gradient {
  background-color: white;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 33%);
  border-radius: 0.3rem;
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 13rem;
}

/* Gradient heatmap */
.severity-rating {
  font-size: 0.6rem;
  padding: 0.3rem;
}

.gradient2 {
  height: 0.8rem;
  width: 10rem;
  border-radius: 2px;
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right, black , purple, red, yellow, white);
  padding: 0.3rem;
}

.gradient-values {
  height: 0.8rem;
  width: 10rem;
  background-color: white;
  font-size: 0.7rem;
  text-align-last: justify;
  align-items: center;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
}

.gradient-values > span {
  font-size: 0.6rem;
}

#gradientProperty {
  font-size: 0.6rem;
  margin: 0;
  padding: 0.3rem;
}

.barDiv {
  display: flex;
  background-color: white;
  padding: 0.2rem;
}

.valuesDiv {
  display: flex;
}

.gradientValue {
  font-size: 0.5rem;
  width: 2rem;
  text-align: center;
  padding: 0.2rem;
}

.gradientStep {
  height: 1rem;
  width: 2rem;
  opacity: 0.75;
}

.gradientFill {
  opacity: 0.75 !important;
  stroke: black;
  stroke-width: 1
}

.toolbar {
  background-color: white;
  width: 4rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 33%);
}

.toolbarIcon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.toolbarIcon img {
  width: 2rem;
}

.toolbarIcon:hover {
  background-color: rgb(233, 233, 233);
  transition: 0.3s;
}

.activeIcon {
  background-color: rgb(233, 233, 233);
}

.zoom {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 33%)
}

.zoom i {
  width: 2rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
}

.zoom i:hover {
  transition: 0.3s;
  background-color: #ccc;
}

#secondaryDiv {
  background-color: white;
  height: 90%;
  width: 3rem;
  margin: 0 0.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal-content {
  position: relative;
  background-color: #fefefe;
  border-radius: 0.3rem;
  margin: auto;
  padding: 1rem;
  max-width: 920px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animate-top;
  -webkit-animation-duration: 0.4s;
  animation-name: animate-top;
  animation-duration: 0.4s;
}

.modal .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal .modal-footer button {
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
}

.demo-parameters-div {
  margin: 1rem 0rem;
}

.demo-parameters-div label {
  display: block;
  margin-bottom: 0.3rem;
}

.demo-parameters-div select {
  padding: 0.6rem;
  width: 100%;
}

@-webkit-keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.responsive-table {
  overflow-x: auto;
}

.responsive-table table {
  width: 100%;
  margin-bottom: 1rem;
}

.responsive-table td {
  text-align: center;
}

.responsive-table td:first-child {
  text-align: left;
}

.responsive-table input[type="number"] {
  width: 3rem;
}

.parameter-box,
.dataset-list {
  max-height: 300px;
  overflow: auto;
  margin: 0.6rem 0rem;
  display: none;
}

.parameter-box.active,
.dataset-list.active {
  display: block;
}

.dataset-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0rem;
}

.dataset-item .dataset-item-inner-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dataset-text {
  display: flex;
  flex-direction: column;
}

.download-button {
  background: inherit;
  background-image: url("../assets/icons/download.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}

.delete-button {
  background: inherit;
  background-image: url("../assets/icons/delete.svg");
  background-repeat: no-repeat;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.snackbar {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  text-align: center;
  color: white;
  padding: 0.6rem;
  min-width: 200px;
  margin-left: -100px;
  font-size: 1.2rem;
  border-radius: 0.6rem;
  z-index: 9999;
}

.snackbar.error {
  background-color: #D8000C;
}

.snackbar.success {
  background-color: #4F8A10;
}

.air-quality-date {
  font-size: 1.2rem;
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}

.air-quality-date select {
  font-size: 1rem;
}

.yesbtn {
  width: 5rem;
  background-color: #4F8A10;
  color: white;
  margin-right: 15px;
  border: 1px solid #fff;
  border-radius: 0.2rem;
}

.yesbtn:hover {
  background-color: #60ad0d;
}

.nobtn {
  width: 5rem;
}

.container {
  text-align: center;
  font-size: 1rem;
}

/* table, th, td {
  border: 0.1rem solid black;
} */

table {
  width: 10rem;
}

.disease-table-heading {
  font-size: 0.7rem;
  padding: 0;
  margin: 0.3rem 0;
  border-bottom: 1px solid #abc;
}

.disease-table-header {
  font-size: 0.6rem;border: 1px solid #abc
}

.disease-table-data {
  font-size: 0.65rem;
  text-align: center;
  border: 1px solid #abc
}